.light-theme {
    ion-content {
      background-color: whitesmoke;
    }
   
    #side-menu101{
      background: #424242
    }
    .header .toolbar-background {

      background-color:#3498db;
    }
    .item-md.item-block .item-inner {
      padding-right: 8px;
      border-bottom: 0px;
  }
  #text_form,#url_form{
    color:#424242;
  }
  }
  