<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Summary
    </ion-title>
  </ion-navbar>
  <ion-toolbar  no-border-top>
      <ion-segment  [(ngModel)]="type">
        <ion-segment-button style="border:none"  id="url_form"  value="url">
          URL
        </ion-segment-button>
        <ion-segment-button style="border:none" id="text_form" value="form">
          TEXT
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding  class="content">
      <div  [ngSwitch]="type">

          <form #g="ngForm" (ngSubmit)="onSubmitUrl(g)" *ngSwitchCase="'url'">
              
              <ion-card >
                  <ion-item>
                    <ion-input  ngModel  style=" margin-bottom: 10px"  type="text" name="http" placeholder="Enter the url"></ion-input>
                  </ion-item>
              </ion-card>

              <!-- <div padding>
                  <ion-segment [(ngModel)]="ext_abst" name="seg_summ">
                    <ion-segment-button  value="ext" (ionChange)="func($event)"  [style.background]="bck_color_e" (click)="change_color_e()" style="border:none;border-radius: 0.2em;color: #424242" value="extractive">
                      Extractive
                    </ion-segment-button>
                    <ion-segment-button value="abst"  [style.background]="bck_color_a" (click)="change_color_a()" style="border:none;border-radius: 0.2em;color: #424242" value="abstractive">
                      Abstractive
                    </ion-segment-button>
                  </ion-segment>
                </div> -->
                <ion-list radio-group>
                <ion-item >
                    <ion-label>Extractive</ion-label>
                    <ion-radio  checked (ionSelect)="funct($event)" value="ext"></ion-radio>
                  </ion-item>
                
                  <ion-item>
                    <ion-label>Abstractive</ion-label>
                    <ion-radio (ionSelect)="funct($event)" value="abst"></ion-radio>
                  </ion-item>
                </ion-list>
                
                <div *ngIf="summary_size_type">
                  <ion-label style="margin-left:1em;">Summary Percentage</ion-label>
                  <ion-item  no-padding style="background:transparent">
                      <ion-range style="padding-top:20px" min="10" max="90" step="1" pin="true" [(ngModel)]="range_value" name="range" (ngModelChange)="value_change($event)" >
                        <ion-icon id="slider_icon" style="font-weight:bold" range-left small name="remove"></ion-icon>
                        <ion-icon id="slider_icon" range-right name="add"></ion-icon>
                      </ion-range>
                    </ion-item>
                </div>
                
                <ion-item style="border-bottom:none;">       
                  <ion-label >Save For Later</ion-label>
                  <ion-checkbox color="dark" checked="false" (ionChange)="(dataChange($event))" style="border-bottom:none"></ion-checkbox>
                </ion-item>
                
                <button ion-button color="secondary" type="submit" full
                  style="border-radius: 0.6em;">SummaRise</button> 
            </form>    
        
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngSwitchCase="'form'">
              <ion-card style="background:transparent">
                  <ion-item>
                    <ion-input required  ngModel style="margin-bottom: 10px" type="text" name="summary_title" placeholder="Title">
                    </ion-input>
                  </ion-item>
              </ion-card>
              <ion-card style="background:transparent">
                  <ion-item>
                    <ion-textarea rows="15" ngModel style="height:25vh; margin-bottom: 10px" type="text" name="summary_text" placeholder="Enter the text you want to Summarise...!">
                    </ion-textarea>
                  </ion-item>
              </ion-card>

              <!-- <div padding>
                  <ion-segment>
                    <ion-segment-button  [(style.background)]="bck_color_e" (click)="change_color_e()" style="border:none;border-radius: 0.2em;color: #424242" value="extractive">
                      Extractive
                    </ion-segment-button>
                    <ion-segment-button  [(style.background)]="bck_color_a" (click)="change_color_a()" style="border:none;border-radius: 0.2em;color: #424242" value="abstractive">
                      Abstractive
                    </ion-segment-button>
                  </ion-segment>
                </div> -->

                <ion-list radio-group>
                    <ion-item >
                        <ion-label>Extractive</ion-label>
                        <ion-radio  checked (ionSelect)="funct($event)" value="ext"></ion-radio>
                      </ion-item>
                    
                      <ion-item>
                        <ion-label>Abstractive</ion-label>
                        <ion-radio (ionSelect)="funct($event)" value="abst"></ion-radio>
                      </ion-item>
                    </ion-list>

              <div *ngIf="summary_size_type">
              <ion-label style="margin-left:1em;">Summary Percentage</ion-label>
              <ion-item style="background:transparent">
                  <ion-range style="padding-top:20px" min="10" max="90" step="1" pin="true" [(ngModel)]="range_value" name="range" (ngModelChange)="value_change($event)" >
                    <ion-icon id="slider_icon" style="font-weight:bold" range-left small name="remove"></ion-icon>
                    <ion-icon id="slider_icon" range-right name="add"></ion-icon>
                  </ion-range>
              </ion-item>
            </div>

              <ion-item style="border-bottom:none;">
                <ion-label>Save For Later</ion-label>
                <ion-checkbox color="dark" checked="false" (ionChange)="(dataChange($event))"  style="border-bottom:none"></ion-checkbox>
              </ion-item>
                
                <button ion-button color="secondary" type="submit" full [disabled]="!f.valid"
                  style="border-radius: 0.6em;">SummaRise</button> 
            </form>         
      </div>
       
  
</ion-content>